# Produccion
VITE_API_BASE_URL=http://127.0.0.1:8000

# Desarrollo local desde la PC
# VITE_API_BASE_URL=http://127.0.0.1:8000

# Desarrollo local desde un celular real en la misma red
# Reemplaza la IP por la IP LAN de tu PC.
# VITE_API_BASE_URL=http://192.168.1.50:8000
